.navigation_logo {
  height: 41px;
  width: 166px;
  margin-left: 52.00146484375px;
  margin-right: 52.00146484375px;

  margin-top: 17px;
}
.navigation {
  display: flex;
  align-items: center !important;
  font-family: "Poppins", sans-serif;
}
.nav_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.navigation_link {
  font-size: 14px;
}

.about {
  width: 64px;
}
.nav_right_btn1 {
  border: 1px solid rgba(245, 123, 35, 0.949398);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(245, 123, 35, 0.949398);
  width: 97px;
  height: 35px;
}
.nav_right_btn2 {
  border: none;
  width: 210px;
  padding: 6px 12px;
  height: 35px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  background: linear-gradient(90deg, #fe6200 0%, #ffa63d 100%);
  border-radius: 4px;
}
